// Default website colors
$white: #FFFFFF;
$gray-default: #4A4C5B;
$yellow-default: #FDC827;
$black-dafault: #1B1F29;
$black-text-default: #262626;
$orange-default: #E84D0F;
$black: #000000;

// Default font settings
$text-color-default: $black-text-default;
$font-family-default: "Open Sans", sans-serif;
$font-family-second: 'Lato', sans-serif;
$font-size-default: 16px;
$font-weight-default: 400;

